<h1>Productos para las Mascotas</h1>
<div class="cards">
    <div class="cards__container">
        <img src="~/images/ricocan.png" alt="Comida para perros" class="cards__img">
        <h1>Ricocan</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda impedit, rerum quidem, non ea aliquid doloribus hic ad recusandae quaerat sequi magnam eligendi maxime, accusantium reiciendis optio magni cupiditate quas.</p>
        <div class="cards__link">
            <a asp-action="RegistroMascota" asp-controller="Home" >Agregar al carrito</a>
        </div>
    </div>
    <div class="cards__container">
        <img src="~/images/pelota.png" alt="Pelota para perros" class="cards__img">
        <h1>Pelota</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda impedit, rerum quidem, non ea aliquid doloribus hic ad recusandae quaerat sequi magnam eligendi maxime, accusantium reiciendis optio magni cupiditate quas.</p>
        <div class="cards__link">
            <a asp-action="RegistroMascota" asp-controller="Home" >Agregar al carrito</a>
        </div>
    </div>
    <div class="cards__container">
        <img src="~/images/lazo.png" alt="lazo de juguete" class="cards__img">
        <h1>Juguete de tela</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda impedit, rerum quidem, non ea aliquid doloribus hic ad recusandae quaerat sequi magnam eligendi maxime, accusantium reiciendis optio magni cupiditate quas.</p>
        <div class="cards__link">
            <a asp-action="RegistroMascota" asp-controller="Home" >Agregar al carrito</a>
        </div>
    </div>

</div>