html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-bottom: 60px;
  position: relative;
  height: 100vh;
  background-color: #48e7;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.cards__img {
  max-width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.cards__container {
  margin: 40px;
  background-color: #fff;
  min-width: 200px;
  max-width: 380px;
  border-radius: 8px;
  box-shadow: 0 2px 8px #000 ;
}

.cards__link {
  padding: 10px 0;
}

.cards__link > a {
  padding: 4px;
  text-decoration: none;
  border: 1px solid #48e;
  border-radius: 8px;
}

.registro {
  width: 850px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  padding: 20px;
}


.registro__img > img {
  max-width: 100%;
  height: auto;
  border-radius: 40%;
}

.formulario {
  height: 100%;
  padding: 20px;
}

.formulario__datos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
}

.formulario__datos > input {
  width: 100%;
  border-radius: 8px;
}

.formulario__boton {
  margin-top: 8px;  
}

